canvas {
  border-style: solid;
}

td:nth-child(2) {
  text-align: right;
}

.boxed {
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.selected {
  background-color: #FFEE99;
}
